.list-group-item h5,
.list-group-item p{
    margin-bottom: 0;
}
p.list-group-item-text{
    margin-bottom: 0;
}

.combinations-list .list-group-item{
    padding: 0.5rem 1.25rem;
}
.combinations-list .list-group-item-heading{
    font-size: 0.85rem;
    color: #D9230F;
}
.combinations-list .list-group-item-text{
    font-size: 80%;
    color: #212529;
}

.form-inline .form-group{
    width: 100%
}
.form-inline .form-group label + div{
    flex-grow: 1
}

a.nav-link{
    cursor: pointer;
}
a.nav-link.active{
    cursor: default;
}

.badge{
    font-size: 100%!important;
}

.matrix-metric .card-body {
    padding-bottom: 0 !important;
}
.matrix-metric .card-body p{
    padding-bottom: 1.25em;
}


.navbar{
    border-top: 5px solid #17a2b8;
    background: #232642;
    background: -moz-linear-gradient(left, #232642 0, #17a2b8 58%, #17a2b8 100%);
    background: -webkit-linear-gradient(left, #232642 0,#17a2b8 58%,#17a2b8 100%);
    background: linear-gradient(to right, #232642 0,#17a2b8 58%,#17a2b8 100%);
}

.navbar .nav a.nav-link{
    color: white;
}

.dropdown-combinations .dropdown-menu{
    right: 0;
    left: auto;
}

.jumbotron{
    background: white;
}